/* Imports - Fonts .......................... */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    width: 100vw;
}
body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: #ffffff;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 0%;
}

/* ::::::::::::::: General Styling ::::::::::::::: */

a { 
    text-decoration: none;
    color: #000000;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.txt-al-cent {
    text-align: center;
}
.med-trans {
    transition: all 1.00s ease;
}
.displ-flx {
    display: flex;
}
.flx-d-col {
    flex-direction: column;
}
.flx-wrp {
    flex-wrap: wrap;
}
.align-itm-cent {
    display: flex;
    align-items: center;
}
.just-cnt-spev {
    display: flex;
    justify-content: space-evenly;
}
.just-cnt-spbw {
    display: flex;
    justify-content: space-between;
}
.just-cnt-cent {
    display: flex;
    justify-content: center;
}

/* ::::::::::::::: Header ::::::::::::::: */

header {
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    margin: 0 0;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #1d1d1d;
    position: fixed;
    height: 40px !important;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
}
header img {
    width: 60px;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 12px;
    right: 10px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/* ::::::::::::::: Header End ::::::::::::::: */

/* ::::::::::::::: Sidebar Menu ::::::::::::::: */

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 100vw;
    margin-top: 40px;
    transform-style: preserve-3d;
    z-index: 10000;
    transform: translateX(100vw);
    transition: transform 250ms ease-in-out;
    background: rgb(20, 20, 20);
}
.sidebarMenuInner{
    width: 100vw;
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    width: 100vw;
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}
.sidebarMenuInner li:hover{
    background-color: #000000;
}
.sidebarMenuInner li a{
    width: 100vw;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

/* ::::::::::::::: Sidebar Menu End ::::::::::::::: */

/* ::::::::::::::: Main End ::::::::::::::: */
main {
    padding: 60px 0 0 0;
}
.hero {
    padding: 0 25px;
    margin: 20px 0;
}
.hero h1 {
    font-size: 2.5em;
    font-weight: 500 !important;
    color: #1d1d1d;
    margin: 0 0 25px 0;
}
.hero p {
    color: #2e2e2e;
    margin: 10px 0;
}
.hero button {
    background-color: #fdec00;
    padding: 10px 35px;
    color: #1d1d1d;
    font-weight: bolder;
    margin: 10px 5px;
}
.crsl-1 {
    width: 100%;
    background-color: #fdec00;
    margin: 40px 0;
}
.crsl-1 .crsl-hdr {
    width: 100%;
}
.crsl-1 .crsl-main {
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.crsl-1 .crsl-main .prev button, .crsl-1 .crsl-main .next button {
    border: 2px solid #d6d6d6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #fff;
    font-weight: 600;
}
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.slide .cntent {
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slide .cntent h3 {
    color: #fdec00;
    margin-bottom: 10px;
}
.slide .cntent p {
    color: #fff;
    font-size: 14px;
}
.tokens {
    margin: 0 0 25px 0;
    background-color: #ededed;
}
.tokens .cntent {
    padding: 30px 20px;
}
.tokens .cntent h1 {
    font-weight: 500 !important;
    width: 80%;
    margin: 10px 0;
    color: #1d1d1d;
}
.tokens .cntent p {
    margin: 10px 0;
    font-size: 18px;
    color: #494949;
}
.tokens .cntent button {
    margin: 15px 0;
}
.fleet {
    margin: 20px 0;
}
.fleet .txt-cnt {
    padding: 10px;
}
.fleet .txt-cnt h1 {
    margin: 10px 0;
    color: #1d1d1d;
    font-weight: 500;
}
.fleet .txt-cnt p {
    margin: 10px 0 30px 0;
    color: #747474;
}
.fleet .crsl-2 .prev button, .fleet .crsl-2 .next button {
    border: 2px solid #494949;
    color: #494949;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-weight: 600;
}
.fleet .crsl-2 .slider .slide {
    min-height: 500px;
}
.fleet .crsl-2 .slider .slide h2 {
    margin: 10px 0;
    color: #1d1d1d;
    font-weight: 600;
}
.fleet .crsl-2 .slider .slide h4 {
    margin: 10px 0;
    color: #2e2e2e !important;
    font-weight: 500;
}
.why-ride {
    padding: 0 25px;
    margin: 35px 0;
}
.why-ride h2 {
    margin: 10px 0;
    color: #1d1d1d;
    font-weight: 600;
}
.why-ride p {
    margin: 10px 0 30px 0;
    color: #747474;
}
.why-ride .cards {
    margin: 15px 0;
}
.why-ride .cards .card  {
    margin: 20px 0;
}
.why-ride .cards .card .image {
    align-items: flex-start;
}
.why-ride .cards .card .image .img-cnt {
    padding: 20px;
    border-radius: 50%;
    background-color: #fdec00;
}
.why-ride .cards .card .txt-cnt h3 {
    margin: 10px 0;
    color: #1d1d1d;
    font-weight: 500;
}
.roadmp {
    margin: 25px 0;
    background-color: #e6e4e4;
}
.roadmp .road-img {
    background-image: url(roadmap.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 204px;
    padding: 0 30px;
    color: #ffffff;
}
.bg-tyre {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(wheels.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.roadmp .cards {
    margin-top: -65px;
}
.roadmp .cards .card {
    margin: 35px 0;
}
.roadmp .cards .card .hldr {
    background-color: #ffffff;
    padding: 20px;
    font-size: 15px;
    color: #494949;
}
.sbscribe {
    margin: 30px 0;
}
.sbscribe .cnt {
    padding: 20px;
}
.sbscribe .cnt h1 {
    color: #1d1d1d;
    font-weight: 500;
    margin: 15px 0;
}
.sbscribe .cnt p {
    color: #505050;
    margin: 10px 0;
}
.sbscribe .cnt input {
    margin: 10px 0;
    font-size: 1.2em;
    padding: 10px;
    background-color: #eeeeee;
    border: none;
    outline: none;
}
.sbscribe .cnt button {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
    background-color: #fdec00;
    padding: 15px 40px;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
/* ::::::::::::::: Main End ::::::::::::::: */

/* __________ Animations __________ */

@-webkit-keyframes fade {
    from {opacity: 0.4; transform: translateX(40px);}
    to {opacity: 1; transform: translateX(0px);}
}
@keyframes fade {
    from {opacity: 0.4; transform: translateX(40px);}
    to {opacity: 1; transform: translateX(0px);}
}

/* ::::::::::::::: Footer Start ::::::::::::::: */
footer {
    margin-top: 40px;
    position: relative;
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 50px 30px 40px 30px; 
    border-bottom: 5px solid #fdec00;
}
footer a {
    color: #ffffff;
}
.web-links {
    margin: 20px 0;
}
.web-links ul {
    list-style-type: none;
}
.phno {
    margin: 30px 0
}
.phno i {
    margin: 0 10px;
}
.addrss {
    margin: 40px 0;
}
.soc-links {
    margin: 20px 0;
}
.soc-links .lnks {
    margin: 25px 0;
    font-size: 2.5em;
}
.logo {
    margin: 30px 0 20px 0;
}
.logo img {
    max-width: 400px;
}
.policy {
    margin: 20px 0;
}
.policy a {
    color: #d6d6d6;
}
.cprght {
    margin: 25px 0;
    color: #505050;
}
.cprght p {
    margin: 10px 0;
}

/* ::::::::::::::: Footer End ::::::::::::::: */
